# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.candle_crush.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\pkkud\Documents\candle_crush\.idea\.idea.candle_crush\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
